# Ignore everything
/*

# Track certain files and directories
!.gitignore
!/.sops.yaml
!/secrets.sops.env
!/apply-config.sh
!/LICENSE

# NotVyOS config
!bootstrap/
!config-parts/
!containers/
!scripts/

# CI
!.github/
!README.md
